<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for com template</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <strong><p>Listagem de cores</p></strong>
        <ul id="elementos-a-serem-iterados">
            <li v-for="(cor, i) in cores" :valorCor="cor">Cor: {{ cor }}, com índice: {{ i }}</li>
        </ul>
        <hr>
        <div v-for="(cor, i) in cores">
            <h1>{{ cor }}</h1>
            <p>{{ i }}</p>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            cores: [
                'vermelho',
                'verde',
                'amarelo',
                'azul'
            ],
            pessoas: [
                {
                    nome: 'Paulo Victor',
                    idade: 24,
                    peso: 55.4
                },
                {
                    nome: 'Thaís',
                    idade: 32,
                    peso: 62.1
                },
                {
                    nome: 'Mel',
                    idade: 4,
                    peso: 2.2
                },
            ]
        },
    })
</script>
<style>
    h1, p {
        display: inline;
    }
</style>
</html>

